<app-navbar></app-navbar>
<h3 class="text-center">Forgot Password</h3>
<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around">
    <div class="addForm" fxLayout="column" fxLayoutAlign="space-around">
      <form [formGroup]="pwdForm">
        <div class="full-width" [ngClass]="{ 'has-error': submitted && f.emailId.errors }" class="form-group clearfix">
          <mat-form-field class="full-width">
            <span matSuffix>@quadratyx.com &nbsp;</span>
            <input matInput placeholder="Email-id" type="text" [(ngModel)]="user.emailId" name="emailId"
              [ngClass]="{ 'has-error': submitted && f.emailId.errors }" (keypress)="checkEmail($event)"
              class="form-control" formControlName="emailId">
          </mat-form-field>
          <div *ngIf="submitted && f.emailId.errors" class="help-block">
            <div *ngIf="f.emailId.errors.required" class="validation-error">Email Id is required</div>
          </div>
        </div>
      </form>
      <div fxLayout="row" fxLayoutAlign="end">
        <a mat-button routerLink="/login">Cancel</a>
        <button mat-raised-button class="actionButton" (click)="forgotPwd()">Send</button>
      </div>
    </div>
  </div>
</div>