<app-navbar></app-navbar>
<h3 *ngIf="resetFlag" class="text-center">Change Password</h3>
<h3 *ngIf="!resetFlag" class="text-center">Reset Password</h3>
<div class="container">

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div class="addForm" fxLayout="column" fxLayoutAlign="space-around">

      <form [formGroup]="pwdForm">
        <div *ngIf="resetFlag" class="full-width" [ngClass]="{ 'has-error': submitted && f.oldPwd.errors }"
          class="form-group clearfix">
          <mat-form-field class="full-width">
            <input matInput placeholder="Old Password" type="text" [(ngModel)]="user.oldPwd" name="oldPwd"
              [type]="oHide ? 'text' : 'password'" [ngClass]="{ 'has-error': submitted && f.oldPwd.errors }"
              class="form-control" formControlName="oldPwd">
            <mat-icon (click)="oHide = !oHide" matSuffix>{{oHide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <div *ngIf="submitted && f.oldPwd.errors" class="help-block">
            <div *ngIf="f.oldPwd.errors.required" class="validation-error">Old Password is required</div>
          </div>
        </div>
        <div class="full-width" [ngClass]="{ 'has-error': submitted && f.newPwd.errors }" class="form-group clearfix">
          <mat-form-field class="full-width">
            <input matInput placeholder="New Password" type="text" [(ngModel)]="user.newPwd" name="newPwd"
              [type]="nHide ? 'text' : 'password'" [ngClass]="{ 'has-error': submitted && f.newPwd.errors }"
              class="form-control" formControlName="newPwd">
            <mat-icon (click)="nHide = !nHide" matSuffix>{{nHide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <div *ngIf="submitted && f.newPwd.errors" class="help-block">
            <div *ngIf="f.newPwd.errors.required" class="validation-error">New password is required</div>
          </div>
        </div>
        <div class="full-width" class="form-group clearfix"
          [ngClass]="{ 'has-error': submitted && f.confirmPwd.errors }">
          <mat-form-field class="full-width">
            <input matInput placeholder="Confirm password" type="text" [(ngModel)]="user.confirmPwd" name="confirmPwd"
              [type]="cHide ? 'text' : 'password'" [ngClass]="{ 'has-error': submitted && f.confirmPwd.errors }"
              class="form-control" formControlName="confirmPwd">
            <mat-icon (click)="cHide = !cHide" matSuffix>{{cHide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <div *ngIf="submitted && f.confirmPwd.errors" class="help-block">
            <div *ngIf="f.confirmPwd.errors.required" class="validation-error">Confirm password is required</div>
          </div>
        </div>
      </form>
      <div fxLayout="row" fxLayoutAlign="end">
        <a mat-button routerLink="/timesheet">Cancel</a>
        <button mat-raised-button class="actionButton" (click)="resetFlag ? changePwd():resetPassword()">Save</button>
      </div>
    </div>
  </div>
</div>